* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    border-radius: 8px;
    background: radial-gradient(144.5% 81.53% at 25.55% 31.91%, #20135C 0%, #140739 92.82%);
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.walve {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    padding-top: 60px;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .triangle_two {
        position: absolute;
        top: 23%;
        left: -10%;
    }
    

    h1 {
        color: #FFF;
        text-shadow: 0px 4px 20px rgba(1, 143, 255, 0.15);
        padding-top: 80;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 30px;
        padding-top: 80px;
    }

    .name_inp {
        display: flex;
        align-items: center;
        width: 350px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        background: #2E3558;
        padding: 1px 200px 1px 20px;
        gap: 16px;

        .round {
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #ffffff;
            padding: 10px;
            border-radius: 100%;
            border-color: #5FB2FF;
        }


        input {
            border: none;
            color: white;
            outline: none;
            font-size: 16px;
            width: 100%;
            height: 100%;
            background: none;
            height: 50px;
            width: 500px;
            font-size: 16px;
        }
    }

    .password_inp {
        display: flex;
        align-items: center;
        width: 350px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        background: #2E3558;
        padding: 1px 200px 1px 20px;
        gap: 16px;

        .round {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            margin-top: 10px;
        }

        input {
            border: none;
            color: white;
            outline: none;
            font-size: 16px;
            width: 100%;
            height: 100%;
            background: none;
            height: 50px;
            width: 500px;
            font-size: 16px;
        }

        .show {
            border: none;
            background: none;
            cursor: pointer;
            margin-left: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.boxes {
    display: flex;
    justify-content: space-between;
    margin: auto auto;

    .box:nth-child(1) {
        width: 480px;
        position: relative;
        height: 595px;
        border-radius: 8px;
        background: linear-gradient(180deg, #1E1156 0%, rgba(13, 18, 34, 0.275) 100%);
        box-shadow: 0px 25px 25px 0px rgba(0, 3, 32, 0.50);


        .big_round {
            position: absolute;
            right: -20%;
            top: 5%;
            z-index: -1;
        }
    }

    .box:nth-child(2) {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            text-shadow: 0px 5px 12px rgba(6, 5, 19, 0.25);
            font-size: 72px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: 3.6px;
            text-transform: uppercase;
            background: linear-gradient(272deg, #3887FE 4.26%, #3BA0FF 51.37%, #5FB2FF 99.01%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        hr {
            width: 175px;
            height: 2px;
            border: none;
            background-color: #1288E8;
        }

        h2 {
            padding-top: 20px;
            color: #FFF;
            text-shadow: 0px 4px 20px rgba(1, 143, 255, 0.15);
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        .triangle {
            position: absolute;
            top: 65%;
            left: -20%;
        }
    }
}


.btns { 
    display: flex;
    padding-top: 30px;
    justify-content: center;
    gap: 32px;

    .signUp {
        border: none;
        width: 105px;
        height: 42px;
        border-radius: 8px;
        background: linear-gradient(88deg, #2F3453 11.5%, #242845 76.7%);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
        color: #949EC0;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
    }

    .signIn {
        width: 105px;
        height: 42px;
        border-radius: 8px;
        background: linear-gradient(272deg, #3887FE 4.26%, #3BA0FF 51.37%, #5FB2FF 99.01%);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: none;
        cursor: pointer;
    }
}